In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load planets info
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [3]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [4]:
ran = np.random.RandomState(24)
ser = pd.Series(ran.rand(5))
ser

0    0.960017
1    0.699512
2    0.999867
3    0.220067
4    0.361056
dtype: float64

In [5]:
ser.sum()

3.240520299656284

In [6]:
ser.mean()

0.6481040599312567

In [7]:
df = pd.DataFrame({'A': ran.rand(5), 
                  'B': ran.rand(5)})
df

          A         B
0  0.739841  0.320519
1  0.996456  0.366415
2  0.316347  0.709652
3  0.136545  0.900142
4  0.383980  0.534115

In [8]:
df.mean()

A    0.514634
B    0.566169
dtype: float64

In [9]:
df.std()

A    0.347207
B    0.241557
dtype: float64

In [10]:
df.mean(axis=0)

A    0.514634
B    0.566169
dtype: float64

In [11]:
df.dropna().describe()

              A         B
count  5.000000  5.000000
mean   0.514634  0.566169
std    0.347207  0.241557
min    0.136545  0.320519
25%    0.316347  0.366415
50%    0.383980  0.534115
75%    0.739841  0.709652
max    0.996456  0.900142

In [12]:
df = pd.DataFrame({'k': ['a', 'b', 'c', 'a', 'b', 'c'],
                  'v': range(6)})
df

   k  v
0  a  0
1  b  1
2  c  2
3  a  3
4  b  4
5  c  5

In [13]:
df.groupby('k')
# return DataFrameGroupBy object

In [14]:
df.groupby('k').sum()

   v
k
a  3
b  5
c  7

In [15]:
# 1. Groupy
# 按列取值
planets.groupby('method')['orbital_period'].mean()

method
Astrometry                          631.180000
Eclipse Timing Variations          4751.644444
Imaging                          118247.737500
Microlensing                       3153.571429
Orbital Brightness Modulation         0.709307
Pulsar Timing                      7343.021201
Pulsation Timing Variations        1170.000000
Radial Velocity                     823.354680
Transit                              21.102073
Transit Timing Variations            79.783500
Name: orbital_period, dtype: float64

In [16]:
# 按组迭代
for (met, grp) in planets.groupby('method'):
    print('{0:30s} shape={1}'.format(met, grp.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [17]:
# 调用方法
planets.groupby('method')['year'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,2011.500000,2.121320,2010.0,2010.75,2011.5,2012.25,2013.0
Eclipse Timing Variations,9.0,2010.000000,1.414214,2008.0,2009.00,2010.0,2011.00,2012.0
Imaging,38.0,2009.131579,2.781901,2004.0,2008.00,2009.0,2011.00,2013.0
Microlensing,23.0,2009.782609,2.859697,2004.0,2008.00,2010.0,2012.00,2013.0
Orbital Brightness Modulation,3.0,2011.666667,1.154701,2011.0,2011.00,2011.0,2012.00,2013.0
Pulsar Timing,5.0,1998.400000,8.384510,1992.0,1992.00,1994.0,2003.00,2011.0
Pulsation Timing Variations,1.0,2007.000000,NaN,2007.0,2007.00,2007.0,2007.00,2007.0
Radial Velocity,553.0,2007.518987,4.249052,1989.0,2005.00,2009.0,2011.00,2014.0
Transit,397.0,2011.236776,2.077867,2002.0,2010.00,2012.0,2013.00,2014.0
Transit Timing Variations,4.0,2012.500000,1.290994,2011.0,2011.75,2012.5,2013.25,2014.0

In [18]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': ran.randint(0, 10, 6)})
df

  key  data1  data2
0   A      0      1
1   B      1      1
2   C      2      7
3   A      3      6
4   B      4      1
5   C      5      1

In [19]:
#  累加
df.groupby('key').aggregate([max, min, np.median])

    data1            data2
      max min median   max min median
key
A       3   0    1.5     6   1    3.5
B       4   1    2.5     1   1    1.0
C       5   2    3.5     7   1    4.0

In [20]:
df.groupby('key').aggregate({'data1': min,
                            'data2': max})

     data1  data2
key
A        0      6
B        1      1
C        2      7

In [21]:
# 过滤
def filter_func(x):
    return x['data2'].std() > 4
print(df); print(df.groupby('key').std());
print(df.groupby('key').filter(filter_func))

  key  data1  data2
0   A      0      1
1   B      1      1
2   C      2      7
3   A      3      6
4   B      4      1
5   C      5      1
       data1     data2
key
A    2.12132  3.535534
B    2.12132  0.000000
C    2.12132  4.242641
  key  data1  data2
2   C      2      7
5   C      5      1

In [22]:
# 转换
df.groupby('key').transform(lambda x: x - x.mean())

   data1  data2
0   -1.5   -2.5
1   -1.5    0.0
2   -1.5    3.0
3    1.5    2.5
4    1.5    0.0
5    1.5   -3.0

In [23]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x
    
print(df); print(df.groupby('key').apply(norm_by_data2))

  key  data1  data2
0   A      0      1
1   B      1      1
2   C      2      7
3   A      3      6
4   B      4      1
5   C      5      1
  key     data1  data2
0   A  0.000000      1
1   B  0.500000      1
2   C  0.250000      7
3   A  0.428571      6
4   B  2.000000      1
5   C  0.625000      1

In [24]:
# ??
# list or Series
L = [0, 1, 3, 0, 2, 1]
df.groupby(L).describe()

  data1                                           data2                      \
  count mean       std  min   25%  50%   75%  max count mean       std  min
0   2.0  1.5  2.121320  0.0  0.75  1.5  2.25  3.0   2.0  3.5  3.535534  1.0
1   2.0  3.0  2.828427  1.0  2.00  3.0  4.00  5.0   2.0  1.0  0.000000  1.0
2   1.0  4.0       NaN  4.0  4.00  4.0  4.00  4.0   1.0  1.0       NaN  1.0
3   1.0  2.0       NaN  2.0  2.00  2.0  2.00  2.0   1.0  7.0       NaN  7.0


    25%  50%   75%  max
0  2.25  3.5  4.75  6.0
1  1.00  1.0  1.00  1.0
2  1.00  1.0  1.00  1.0
3  7.00  7.0  7.00  7.0

In [25]:
# 映射index
mapping = {'A': 'vowel', 'B': 'const', 'C': 'const'}
# df2 = df.set_index('key')
df.set_index('key').groupby(mapping).sum()

       data1  data2
const     12     10
vowel      3      7

In [26]:
# any function
df.set_index('key').groupby(str.lower).mean()

   data1  data2
a    1.5    3.5
b    2.5    1.0
c    3.5    4.0

In [27]:
# list of multiple keys
df2 = df.set_index('key').groupby([str.lower, mapping]).mean()
df2

         data1  data2
a vowel    1.5    3.5
b const    2.5    1.0
c const    3.5    4.0

In [28]:
df2.index

MultiIndex(levels=[['a', 'b', 'c'], ['const', 'vowel']],
           labels=[[0, 1, 2], [1, 0, 0]])

In [29]:
# Case: grouping founded planets by years
decades = (planets['year'] // 10) * 10
decades = decades.astype(str) + 's'
decades.name = 'decade'
# print(type(decades))
planets.groupby(['method', decades])['number'].sum().unstack().fillna(0)

decade                         1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0