In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1
df =pd.DataFrame(np.random.rand(4, 2), 
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], 
                 columns=['data1', 'data2'])
df

        data1     data2
a 1  0.658054  0.772086
  2  0.027158  0.570383
b 1  0.064184  0.811886
  2  0.287628  0.005809

In [4]:
# 2
data = {('a', 1): 10,
       ('a', 2): 20,
       ('b', 3): 30,
       ('b', 4): 40}
pd.Series(data)

a  1    10
   2    20
b  3    30
   4    40
dtype: int64